.placeholder-9-icon1 {
  height: 99px;
  width: 359px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.placeholder-10-icon1,
.placeholder-11-icon1,
.placeholder-12-icon1,
.placeholder-13-icon1 {
  height: 36px;
  width: 106px;
  position: relative;
  object-fit: cover;
  min-height: 36px;
}
.placeholder-13-group {
  justify-content: center;
  gap: var(--gap-24xl);
}
.leadership-inner,
.placeholder-13-group,
.placeholder-9-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.placeholder-9-group {
  width: 1206px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.leadership-inner {
  align-self: stretch;
  justify-content: flex-start;
}
.frame-child5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-black);
}
.frame-child6,
.frame-child7,
.frame-child8 {
  align-self: stretch;
  height: 15px;
  position: relative;
  background-color: var(--color-silver);
}
.rectangle-parent2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.frame-wrapper2 {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.frame-wrapper1,
.frame-wrapper2,
.rectangle-parent1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent1 {
  width: 732px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.frame-wrapper1 {
  height: 235px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-8xl) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
}
.placeholder-1-icon1,
.placeholder-4-icon1,
.placeholder-5-icon1,
.placeholder-6-icon1,
.placeholder-7-icon1,
.placeholder-8-icon1 {
  height: 360px;
  width: 360px;
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.placeholder-1-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
  gap: 90px 51px;
  min-height: 830px;
  max-width: 100%;
}
.frame-child9 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-black);
}
.frame-child10,
.frame-child11 {
  align-self: stretch;
  height: 15px;
  position: relative;
  background-color: var(--color-silver);
}
.rectangle-parent4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.frame-wrapper3 {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.frame-wrapper3,
.outer-container,
.rectangle-parent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent3 {
  width: 732px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.outer-container {
  height: 210px;
  flex-direction: row;
  justify-content: center;
  padding: 0 21px var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
}
.placeholder-1-icon2,
.placeholder-4-icon2,
.placeholder-5-icon2 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-height: 360px;
}
.frame-wrapper4,
.placeholder-1-container {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeholder-1-container {
  flex: 1;
  display: grid;
  gap: var(--gap-34xl);
  grid-template-columns: repeat(3, minmax(270px, 1fr));
}
.frame-wrapper4 {
  align-self: stretch;
  display: flex;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.placeholder-6-icon2,
.placeholder-7-icon2,
.placeholder-8-icon2 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-height: 360px;
}
.frame-wrapper5,
.placeholder-6-parent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.placeholder-6-parent {
  flex: 1;
  display: grid;
  gap: var(--gap-34xl);
  grid-template-columns: repeat(3, minmax(270px, 1fr));
}
.frame-wrapper5 {
  align-self: stretch;
  display: flex;
  padding: 0 0 var(--padding-xl) var(--padding-10xs);
  box-sizing: border-box;
}
.frame-child12 {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-black);
}
.frame-child13,
.frame-child14,
.frame-child15 {
  align-self: stretch;
  height: 15px;
  position: relative;
  background-color: var(--color-silver);
}
.rectangle-parent6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.frame-wrapper7 {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.frame-wrapper6,
.frame-wrapper7,
.rectangle-parent5 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent5 {
  width: 732px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-16xl);
}
.frame-wrapper6 {
  height: 235px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-8xl) var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
}
.placeholder-14-icon1,
.placeholder-15-icon1,
.placeholder-16-icon1,
.placeholder-17-icon1 {
  height: 58px;
  width: 58px;
  position: relative;
  object-fit: cover;
  min-height: 58px;
}
.empty-container,
.placeholder-14-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.placeholder-14-group {
  width: 469px;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.empty-container {
  align-self: stretch;
  justify-content: center;
  padding: 0 30px 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent,
.leadership {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent {
  width: 1189px;
  align-items: flex-start;
  gap: var(--gap-71xl);
  max-width: 100%;
}
.leadership {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-end;
  padding: var(--padding-25xl) 121px 103px var(--padding-51xl);
  box-sizing: border-box;
  gap: 261px;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .placeholder-9-group {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: 45px 90px;
  }
}
@media screen and (max-width: 1050px) {
  .placeholder-14-group {
    flex-wrap: wrap;
    justify-content: center;
  }
  .leadership {
    gap: 65px 261px;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .placeholder-1-container,
  .placeholder-6-parent {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(270px, 468px));
  }
}
@media screen and (max-width: 450px) {
  .placeholder-13-group {
    flex-wrap: wrap;
    gap: 43px 21px;
  }
  .rectangle-parent1 {
    gap: 17px 35px;
  }
  .placeholder-1-group {
    gap: 90px 25px;
  }
  .rectangle-parent3 {
    gap: 17px 35px;
  }
  .placeholder-1-icon2,
  .placeholder-4-icon2,
  .placeholder-5-icon2 {
    width: 100%;
  }
  .placeholder-1-container {
    gap: 53px 26px;
    grid-template-columns: minmax(270px, 1fr);
  }
  .placeholder-6-icon2,
  .placeholder-7-icon2,
  .placeholder-8-icon2 {
    width: 100%;
  }
  .placeholder-6-parent {
    gap: 53px 26px;
    grid-template-columns: minmax(270px, 1fr);
  }
  .rectangle-parent5 {
    gap: 17px 35px;
  }
  .frame-parent {
    gap: 22px 90px;
  }
  .leadership {
    gap: 130px 261px;
    padding-left: var(--padding-16xl);
    padding-right: 60px;
    box-sizing: border-box;
  }
}
